<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asadkhan.kurrencyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bitcoin_gold"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bitcoin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".KurrencyDataActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleActivity"
            android:label="@string/title_activity_sample"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:authorities="com.example.asadkhan.kurrencyapp"
            android:name="com.example.asadkhan.kurrencyapp.data.provider.KurrencyDataProvider"
            android:enabled="true"
            android:multiprocess="true"
            android:exported="true" />

        <service
            android:name="com.example.asadkhan.kurrencyapp.data.service.KurrencyService"
            android:enabled="true"
            android:multiprocess="true"
            android:exported="true" />

    </application>

</manifest>